<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- <base href="/"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="dest-css/style.css">
</head>
<body>
	<div ng-controller="langCtrl">
		<header class="col-sm-12 noPadding">
			<div class="col-sm-12 title center">
				<div class="col-sm-3">
					<a ui-sref="home"><img src="images/logo.png" alt="Tek Zen IT Logo"></a>
				</div>
				<div class="col-sm-9 pull-right">
					<button class="btn btn-info" ng-click="changeLanguage('sp')" translate>BUTTON_LANG_SP</button>
	      			<button class="btn btn-success" ng-click="changeLanguage('en')" translate>BUTTON_LANG_EN</button>

				</div>
			</div>
			<br/>
			<div class="col-sm-12 noPadding">
				<ul class="nav nav-pills">
					<li role="presentation"><a ui-sref="home" translate> HOME</a></li> 
					<li role="presentation"><a ui-sref="contact" translate> CONTACT</a></li> 
					<li role="presentation"><a ui-sref="usa"> USA</a></li>
					<li role="presentation"><a ui-sref="uk"> UK/ Europe</a></li>
				  	<li role="presentation"><a ui-sref="australia"> Australia/ NZ</a></li>
				  	<li role="presentation"><a ui-sref="india"> India</a></li>
				  	<li role="presentation"><a ui-sref="southamerica"> South America</a></li> 
				</ul>
			</div>
		</header>

		<section>
			<div class="container1" ui-view> </div>
		</section>

		<footer class="center">
			<div translate>FOOTERMSG</div>
			<div translate>FOOTERMSG1</div>
		</footer>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
	<script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate/2.15.1/angular-translate.js"></script>

	<script src="dest-js/main.js"></script>
	<script src="dest-js/controllers.js"></script>
	<script src="dest-js/langTranslate.js"></script>
</body>
</html>