<div class="col-sm-12">
	<div class="col-sm-12">
	
		<h2 class="home" translate>WELCOME</h2>
		
		<p translate>HOME_PARA1</p>

		<p translate>HOME_PARA2</p>
	</div>

	<div class="col-sm-12 moreInfo">
		<ul class="nav nav-tabs">
			<li role="presentation">
				<a ui-sref-active="active" ui-sref=".aboutus" translate>ABOUTUS</a>
			</li>
			<li role="presentation">
				<a ui-sref-active="active" ui-sref=".team" translate>TEAM</a>
			</li>
			<li role="presentation">
				<a ui-sref-active="active" ui-sref=".growth" translate>GROWTH</a>
			</li>
		</ul>
	</div>

	<div class="col-sm-12 ui-view"></div>

</div>