
<div class="col-sm-12 noPadding">
	<h2 class="home" translate>WEL_UK</h2>

	<div class="col-sm-12 noPadding">
		
		<div class="col-sm-2 noPadding leftPanel">
			<a ui-sref-active="active" ui-sref=".dashboard" translate>DASHBOARD </a>
			<a ui-sref-active="active" ui-sref=".volume({month:m})" translate> VOLUME </a>
			<a ui-sref-active="active" ui-sref=".los" translate> LOS</a> 
			<a ui-sref-active="active" ui-sref=".renew" translate> RENEWAL</a>
		</div>

		<div class="col-sm-10 rightPanel" ui-view >
			
		</div>
	</div>
</div>